.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 5rem;
  width: 1260px;
  margin: 0 auto;
  padding-top: 20px;
}

.listUsers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listUsers table {
  margin-top: 1rem;
  border: 1px solid black;
  width: 100%;
}

.listUsers table thead {
  background-color: #51965b;
}

.listUsers table thead tr th {
  padding: 0.5rem;
  color: white;
}

.listUsers table tbody tr:nth-child(even) {
  background-color: rgba(54, 54, 54, 0.4);
}

.listUsers table tbody tr:nth-child(odd) {
  background-color: rgba(54, 54, 54, 1);
}

.listUsers table tbody tr td {
  padding: 0.5rem;
  text-align: center;
}

.createUser {
  margin-top: 1rem;
}