.container {
    display: flex;
      flex-direction: column;
      align-items: center;
      width: 1260px;
      margin: 0 auto;
      padding: 100px 0;
  }
  .listCharges {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .listCharges table {
    margin-top: 1rem;
    border: 1px solid black;
    width: 100%;
  }
  
  .listCharges table thead {
    background-color: #51965b;
  }
  
  .listCharges table thead tr th {
    padding: 0.5rem;
    color: white;
  }
  
  .listCharges table tbody tr:nth-child(even) {
    background-color: rgba(54,54,54,0.4);
  }
  
  .listCharges table tbody tr:nth-child(odd) {
    background-color: rgba(54,54,54,1);
  }
  
  .listCharges table tbody tr td {
    padding: 0.5rem;
    text-align: center;
  }